/** variables **/

$base-font-family: "HelveticaNeueThin","HelveticaNeue-Thin", "Helvetica Neue Thin", "Helvetica Neue", "HelveticaNeue", 'TexGyreHerosRegular', "Arial Narrow",Arial, sans-serif;

$header-font-family: "HelveticaNeueUltraLight","HelveticaNeue-Ultra-Light", "Helvetica Neue Ultra Light", "Helvetica Neue","HelveticaNeue", 'TexGyreHerosRegular', "Arial", sans-serif;

$small-font-family: "HelveticaNeue", "Helvetica Neue","HelveticaNeueRoman", "HelveticaNeue-Roman", "Helvetica Neue Roman", 'TexGyreHerosRegular', "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;

// font-size
$mid-font-size: 52px;
$base-font-size: 18px;
$small-font-size: 12px;

// colours
$black: #000000;
$off-white: #eff1f2;
$light-gray: #dfe2e3;
$gray: #bac3c8;
$bluegray: #47555b;
$dirty-gold: #b4ae53;
$tealblue: #3da9d9;
$batman: #061116;
$darkpurple: #504193;
$neonpurple: #6900e2;